* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Valorant';
	src: url('./Valorant.woff') format('woff');
}

body {
	background-color: rgb(10, 10, 10);
	color: rgb(233, 233, 233);
	display: flex;
	justify-content: center;

	font-family: 'Valorant', monospace;
}

.center {
	text-align: center;
}

.title {
	margin: 5rem 0;
	font-family: 'Valorant', monospace;
}
